{{- if eq .chezmoi.hostname "iMacM3" }}
eval "$(oh-my-posh --init --shell zsh --config /opt/homebrew/opt/oh-my-posh/themes/{{ .omp.theme }}.omp.json)"
{{- end }}
{{- if eq .chezmoi.hostname "Dons-MacBook-Pro" }}
eval "$(oh-my-posh --init --shell zsh --config /opt/homebrew/opt/oh-my-posh/themes/{{ .omp.theme }}.omp.json)"
{{- end }}
# Don't require escaping globbing characters in zsh.
unsetopt nomatch
# add check to make sure path exists before sourcing
if [[ -e /Users/donhunt/.config/op/plugins.sh ]]; then
   source /Users/donhunt/.config/op/plugins.sh
fi
