# Define psman function show man content with Preview
function preman() {
   mandoc -T pdf "$(/usr/bin/man -w $@)" | open -f -a Preview.app
}
# Use data.omp.theme from chezmoi.toml to set theme
eval "$(oh-my-posh --init --shell zsh --config /opt/homebrew/opt/oh-my-posh/themes/{{ .omp.theme }}.omp.json)"
# Don't require escaping globbing characters in zsh.
unsetopt nomatch
# add check to make sure path exists before sourcing
if [[ -e /Users/donhunt/.config/op/plugins.sh ]]; then
   source /Users/donhunt/.config/op/plugins.sh
fi
